@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    /*COLORS********************************************************/
    --body-color:#050914;
    --sidebar-color:#1B2846;
    --title-color:#62a1a1;
    --text-color:#e7ebeb;
    --sidebar-text-color:#f8ffb8;
    --button-select-color:#1A466B;
    /*TRANSITIONS***************************************************/
    --anim-02:all 0,4s ease;
    --anim-03:all 0.5s ease;
    --anim-04:all 0.55s ease;
}
*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*BODY********************************************************************************************/
body{
    color: var(--text-color);
    background-color: var(--body-color);
    min-height: 100vh;
    transition: var(--anim-04);
}
/*SIDE BAR****************************************************************************************/
.sidebar{
    background-color: var(--sidebar-color);
    position: fixed;
    width: 200px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    height: 100%;
    z-index: 100;
    transition: var(--anim-04);
}
.sidebar.hide{
    width: 65px;   
}
.sidebar li{
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar header,
.sidebar .fa-solid{
    min-width: 65px;
    border-radius: 0 20px 20px 0;
}
.sidebar .fa-solid{
    min-width: 65px;
    border-radius: 0 20px 20px 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.sidebar .text,
.sidebar .fa-solid{
    color: var(--sidebar-text-color);
}
.sidebar .text{
    opacity: 1;
    font-weight: 400;
    font-size: 20px;
    white-space: nowrap;
}
.sidebar.hide .text{
    opacity: 0;
    transition: var(--anim-03);
}
.sidebar header{
    text-align: center;
    display: block;
}
.sidebar header .fa-solid.fa-bars{
    cursor: pointer;
    padding: 20px;
    display: block;
    transition: var(--anim-04);
}
.sidebar header .fa-solid.fa-bars:hover{
    background-color: var(--button-select-color);
}
.sidebar.hide .fa-solid.fa-bars{
    width: 100%;
    display: block;
    text-align: center;
}

/*BUTTONS*****************************************************************************************/
.sidebar li a{
    list-style: none;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 15px 15px 15px 0;
    border-radius: 0 20px 20px 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: var(--anim-04);
}
.sidebar li a:hover{
    background-color: var(--button-select-color);
}
.infoPanel a{
    padding: 20px;
    color: var(--sidebar-text-color);
    text-decoration: none;
    font-weight: 500;
}
.infoPanel a:hover{
    text-decoration: underline;
}

/*INFO PANEL**************************************************************************************/
.infoPanel{
    padding-left: 85px;
    filter: blur(5px);
    padding-top: 20px;
    font-size: 20px;
    opacity: 0.65;
    padding-right: 20px;
    line-height: 1.3;
    transition: var(--anim-04);
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: var(--sidebar-color);
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background-color: #0b1329;
}
.infoPanel.mini{
    padding-left: 85px;
    padding-top: 20px;
    filter: blur(0);
    opacity: 1;
    padding-right: 20px;
    transition: var(--anim-04);
}
.infoPanel h1{
    font-weight: 500;
    padding: 30px;
    color: var(--sidebar-text-color);
    background-color: var(--button-select-color);
    display: block;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
}
.infoPanel h2,
.infoPanel h3{
    color: var(--title-color);
    font-weight: 500;
    font-size: 25px;
    padding: 15px 0;
}
.infoPanel ol li,
.infoPanel ul li{
    padding: 5px;
    margin-left: 15px;
}
img{
    width: 100%;
    padding: 10px 0;
}
.img-table{
    padding-right: 20px;
    width: 500px;
}
.center-text{
    text-align: center;
    justify-items: center;
    display: block;
}
.resalt{
    color: var(--sidebar-text-color);
    font-weight: 600;
    background-color: #1A466B;
    padding: 5px 14px;
    border-radius: 100%;
}
.resalt-sentences{
    color: var(--title-color);
    font-weight: 600;
}

/*TABLES******************************************************************************************/
.table{
    border: 3px var(--sidebar-color) solid;
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.table-large{
    width: 20%;
}
.fix-table-ps{
    padding-right: 10px;
}
.table th{
    background-color: var(--sidebar-color);
    border-collapse: collapse;
    padding: 15px 0;
    text-align: center;
    color: var(--sidebar-text-color);
}
.table td{
    text-align: center;
    padding: 10px 0;
}
.table .align-text-left{
    text-align: left;
}
.text-selector .table{
    width: 100%;
    height: 100%;
}
.contact-table img{
    border-radius: 100%;
    width: 80%;
}
.title{
    color: var(--title-color);
}
.title.mail{
    color: var(--sidebar-text-color);
}
.contact-table td{
    padding: 10px;
}